body {
    background-color: #8390fa;
    display: grid;
    color: white;
    overflow:hidden;
    font-family: sans-serif;
}

* {
    overflow: hidden;
}


@keyframes appear{
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}



.profile {
    animation: appear .5s linear;
    animation-timeline: view();
    animation-range: entery 0% cover 40%;
    user-select: none;
    box-shadow: 5px 2px 0px #273e94;
    position: relative;
    top: 25px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 0 auto;
    border: 4px solid #1D2F6F;
    transition: ease-in-out 0.4s;
}

.profile:hover {
    box-shadow: 5px 5px 10px #273e94;
    position: relative;
    top: 20px;
    border-radius: 50px;
}

.contact {
    animation: appear .5s linear;
    animation-timeline: view();
    animation-range: entery 0% cover 40%;
    user-select: none;
    cursor: pointer;
    background-color: #1D2F6F;
    width: 70%;
    height: 75px;
    border-radius: 12px;
    margin: auto;
    box-shadow: 5px 5px 10px #273e94;
    transition: ease-in-out 0.3s;
}

.contact:hover {
    background-color: #293f96;
    width: 72%;
    height: 77px;
    border-radius: 18px;
}

#insta {
    user-select: none;
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 16px;
    top: -35%;
    left: 24px
}

.fa-brands {
    user-select: none;
    font-size: 40px;
    border-radius: 8px;
    height: 35px;
    position: relative;
    top: -37%;
    left: -15px
}

.github {
    user-select: none;
    font-size: 40px;
    border-radius: 8px;
    height: 35px;
    position: relative;
    top: -35%;
    left: -15px;
}

#git {
    user-select: none;
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 99px;
    top: -32%;
    left: 24px;
}

.title {
    user-select: none;
    color: #FAC748;
    font-weight: bold;
    position: relative;
    font-size: 25px;
    left: 90px;
    top: 25px;
    margin: -14px;
}

.sub {
    user-select: none;
    padding-top: 3px;
    position: relative;
    font-size: 15px;
    color: #8390FA;
    left: 76px;
    top: 25px;
    margin-top: 14px;
}

#sub {
    user-select: none;
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 5px;
    top: -33%;
    left: 25px;
}

#name {
    user-select:contain;
    color: #1d2f6f;
    text-decoration: none;
}

#name2 {
    color: #1d2f6f;
}